@charset "UTF-8";

*{
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #F6F8FC;
}
.content{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: white;
    
}
@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
       
    }}
.content  h1{
    margin: 1rem;
}

.pokemons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}
@media screen and (min-width: 380px){
    .pokemons{
        grid-template-columns: 1fr 1fr ;
    margin: 0 auto;}
         
    }
@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
      
}}
@media screen and (min-width: 992px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
      
}}

.pokemon{
    margin: 0.5rem;
    padding: 2rem 1rem;
    background-color: #46D1B2;
    color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    
    
}
.pokemon .numero{
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .925rem;
}
.pokemon .nome{
    font-size: 1.5rem;
    margin-bottom:  .25;
    color: white;
}
.pokemon .detalhes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.pokemon .detalhes .tipos{
    padding: 0;
    margin: 0;
    list-style: none;
    
}
.pokemon .detalhes .tipos .tipo{
    background-color: #61E1CA;
    color: white;
    padding: .25rem;
    margin: .25rem 0;
    font-size: .925rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1rem;

}
.pokemon .detalhes img{
    max-width: 100%;
    height: 65px;
    align-self: self-end;
}